<a tabindex="{{tabindex}}" class="select-picker-single {{if isActive 'select-picker-single-with-drop'}}" {{action 'toggle' on='click'}} {{action 'toggle' on='tap'}}>
  <span class="select-picker-title">{{title}}</span>
  <div class="select-picker-direct">
    {{#if isActive}}
      <i class="fa fa-caret-up"></i>
    {{else}}
      <i class="fa fa-caret-down"></i>
    {{/if}}
  </div>
</a>
<div class="select-picker-drop">
  <div class="select-picker-search">
    {{input type="text" autocomplete="off" value=keywords key-down="keyDownSelect"}}<i class="fa fa-search"></i>
  </div>
  <ul class="select-picker-results">
    {{#each searchModel as |item index|}}
      {{select-picker-item model=item target=this index=index indexOfSearchModel=indexOfSearchModel}}
    {{/each}}
  </ul>
</div>
